<div data-ng-controller="ShoppingBagCtrl" data-ng-init="init()">
	<table class="table">
		<thead>
			<tr>
				<th data-translate>Name</th>
				<th class="r-a" data-translate>Price</th>			
				<th class="r-a" data-translate>Count</th>
				<th class="r-a" data-translate>Total</th>				
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="(id,count) in bag">
				<td>{{getProductById(id).name}}</td>
				<td class="r-a">{{getProductById(id).price}} &euro;</td>			
				<td class="r-a"><span class="badge">{{count}}</span></td>
				<td class="r-a">{{getTotal(id)}} &euro;</td>				
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td data-translate>Grand Total</td>
				<td class="r-a"></td>			
				<td class="r-a"></td>
				<td class="r-a">{{getGrandTotal()}} &euro;</td>				
			</tr>
		</tfoot>		
 	</table>
</div>