<div data-ng-controller="OrdersCtrl">
	<table class="table" data-ng-if="orders.length > 0">
		<thead>
			<tr>
				<th data-translate>Date</th>										
				<th data-translate>Summary</th>
				<th class="r-a" data-translate>Amount</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="o in orders">
				<td>{{o.date}}</td>
				<td>
					<ul class="list-group">
  						<li data-ng-repeat="itm in o.items" class="list-group-item">
    						<span class="badge">{{itm.count}} x {{itm.product.price}} &euro;</span>    						
   							{{itm.product.name}}
  						</li>
					</ul>
				</td>
				<td class="r-a">{{o.total}} &euro;</td>				
			</tr>
		</tbody>	
 	</table>
 	<div class="well" data-ng-if="orders.length === 0" data-translate>No orders so far.</div>
</div>